<ion-header>
  <ion-toolbar id="ionToolbarLoggedIn" class="safe--area" color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ng-container
      *ngIf="
        (user$ | async)?.business.is_food_truck &&
        (userType$ | async) === eAllowedAccountTypes.PlaceToEat
      "
    >
      <ion-buttons slot="end" (click)="updateFoodTruck()">
        <ion-button>
          <fa-icon class="faFoodTruck" [icon]="faFoodTruck"></fa-icon>
        </ion-button>
      </ion-buttons>
    </ng-container>
  </ion-toolbar>
</ion-header>
<!-- we neeed the main-ion-content class so that we can sett he background to transparent for the scanner -->
<ion-content class="main-ion-content has-header">
  <app-business-dashboard></app-business-dashboard>
</ion-content>
