<div [ngClass]="getAdWrapperClass()" *ngIf="displayAd" [ngStyle]="getAdStyle()">
  <div
    class="rpx-white-iconImg"
    [ngStyle]="{ background: 'url(assets/images/home_imgs/rpx-white-icon.png)' }"
  ></div>

  <img
    class="rpx-ad-image 123"
    [src]="genericAdImageMobile | safe"
    *ngIf="ad.id === 2"
  />
  <img
    class="rpx-ad-image"
    [src]="ad.images_mobile | safe"
    *ngIf="ad.id !== 2"
  />

  <div class="sb-ad-bottom" *ngIf="business">
    <span class="rpx-text-gradient sb-sponsoredName text-uppercase">{{
      business.name
    }}</span>
    <span
      class="sb-text-light-green-gradient sb-totalRewards text-uppercase"
      style="font-size: 1rem"
      >{{ totalRewards }} REWARDS</span
    >
    <span class="rpx-text-gradient sb-distanceMiles text-uppercase"
      >{{ distance | number: "1.1-2" : "en-US" }} miles</span
    >

    <span
      class="sb-text-light-green-gradient sb-perDollar text-uppercase"
      style="font-size: 1rem"
    >
      {{
        loyaltyPointBalance.loyalty_point_dollar_percent_value / 100
          | currency: "USD"
      }}
      per dollar
    </span>

    <span class="rpx-text-gradient sb-address text-uppercase"
      ><i class="fas fa-map-marker-alt"></i> {{ business.address }}</span
    >
  </div>
</div>
